<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        fssc
            {% embed "main/index.html.twig"%}
            {% endembed %}        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
